body{
background-color: rgba(255, 249, 249, 0.563);
}
.jumbotron{
  text-align: center;
}
.well{
  color: black;
}
button{
  border-radius: 16px;
  background-color: rgba(243, 243, 243, 0.2);
  font-size: 20pt;
  width: 200px;
  text-align: center;
  margin-left: 150px;
}
/* #submit1:hover{
  background-color: #2b3d27;
  color: black;
}
#reset-btn:hover{
  background-color: red;
  color: black;
  text-decoration: none; */

/* } */
#message{
  color: white;
  font-size: 50px;
  font-weight: bolder;
  background-color:black;
  margin-top: 20px;
  text-align: center;

}
.reset{
  text-decoration: none;
}

h1{
  margin-left: 60ox;
}